.list_wrap {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  background-color: #ebebeb;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.wrap {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 50%;
}
